@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');



 *{ outline: 1px solid red; } 



body {
    background: #82DDB5;
    background-image: url('img/illustration.gif'), url('img/texture.jpg');
    background-repeat: no-repeat, repeat-x;
    background-position: center 280px, left top;
    background-size: 800px, auto;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

#nav {
    background-color: #6B9;
    padding: 20px 0px;
    color  : white;
    font-weight: bold;
    text-align: center;
    word-spacing: 2em;
    border-bottom: 2px dashed #487;
}

#header {
    text-align: center;
    margin: 40px;
}

#logo {
    max-width: 360px;
    width: 100%;
}

#description, #date {
    max-width: 220px;
    width: 100%;
}

.register_btn {
    background-color: #E43;
    border: 2px dashed #A43;
    border-radius: 2em;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px;
}



#what {
    background-color: rgba(200, 240, 220, 0.9);
    padding: 1em;
    margin-top: 23em;
}


#what h1 {
    text-align: center;
    color: #347788;

}

#what p {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #347788;
    font-size: large;
    word-spacing: 4px;
}

#what p + p {
    font-size: medium;
    word-spacing: 3px;
}


#what h2 {
    text-align: center;
    color: #347788;
    font-size: x-large;
    margin-top: 1em;
}


/* work out sponsor logos later */
#sponsor_logos {

}



#why {
    background-color: #b6ead3;
    padding: 2em;
}

#why h1 {
    text-align: center;
    color: #347788;
}

#why p {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #347788;
    font-size: medium;
    word-spacing: 3px;
}


#where {
    background-image: url('img/map.gif');
    background-repeat: no-repeat;
    background-position: center;
    padding: 12em;
    margin: 0px;
}

/* work out heading space later */
#where h1 {
	text-align: center;
	margin: 0px;
	color: #bb4488;
}

#where p {
	text-align: right;
	font-weight: bold;
	color: #bb4488;
}


#when {
	background: #439998;
    background-image: url('img/wires.png');
    background-repeat: repeat;
    background-size: 700px;
    margin: 0;
    padding: 1em;
    background-position: center;
}


#when h1 {
	text-align: center;
	color: white;
	margin: 1em;
}

#when h2 {
	text-align: center;
	color: white;
	margin-bottom: 1em;
	border-bottom: white 2px dashed;
	padding-bottom: 1em;
	margin: 0px;
}

#when h3 {
	text-align: center;
	color: white;
	font-size: large;
}

/* fix alignment of borders */

#when ul{
	text-align: left;
	color: white;
	margin-left: 20em;
	border-bottom: white 2px dashed;
	padding-bottom: 3em;
}


#who {
	background: white;
	color: #f5f5f5;
	padding: 1em;
}

#who h1{
	color: #347788;
	text-align: center;
	margin: 1em;
}

#who p{
	color: #347788;
	text-align: center;
	font-size: large;
	width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#who p + p {
	font-size: medium;
}




